<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>修改资讯</title>
	<link rel="stylesheet" href="/admin/css/base.css">
	<link rel="stylesheet" href="/admin/css/page.css">
	<!--[if lte IE 8]>
	<link href="css/ie8.css" rel="stylesheet" type="text/css"/>
	<![endif]-->
	<script type="text/javascript" src="/admin/js/jquery.min.js"></script>
	<script type="text/javascript" src="/admin/js/main.js"></script>
	<script type="text/javascript" src="/admin/js/modernizr.js"></script>
</head>
<body>
	<div class="pubMain">
		<a href="javascript:history.go(-1)" class="backlistBtn"><i class="ico-back"></i>返回列表</a>
		<form action="{:url('index/updates_add')}" method="post">
			<h5 class="pubtitle">资讯标题</h5>
			<?php foreach ($data as $key => $value): ?>
			<div><input type="hidden" name="id" value="<?=$value['id']?>"></div>
			<div class="pub-txt-bar">
				<input type="text" class="shuruTxt" value="<?=$value['title']?>" name="title">
			</div>
			<h5 class="pubtitle">资讯内容</h5>
			<div class="pub-area-bar">
				<textarea name="content"  rows="" cols="3"><?=$value['content']?></textarea>
			</div>
			<div class="pub-btn">
				<input type="submit" id="" value="修改" class="saveBtn">
			</div>
			<?php endforeach ?>
		</form>
	</div>
</body>
</html>