<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="/index/">
    <title>最新资讯</title>
    <link href="/index/css/consult.css"rel="stylesheet">
    <link href="/index/css/share.css"rel="stylesheet">
    <script src="/index/js/jquery-1.12.3.js"></script>
    <style>
        #page{margin-top: 20px;}
    </style>
</head>
<body>
<!--顶部导航-->
{include file="../application/index/view/layout/header.html"}
<!--顶部导航结束-->
<!--banner图片-->
<div class="her-banner">

</div>
<!--banner图片结束-->
<div class="content">
    <!--最新资讯开始-->
    <div class="recommand clear">
        <div class="rec-cont clear">
            <div class="rec-left">
                <div class="classily">
                    <div class="cltop">
                        <p>产品分类</p>
                    </div>
                    <div class="cltcon">
                        <p><a href="#">国产水果</a> </p>
                        <p><a href="#"> 进口水果</a></p>
                        <p style="border-bottom:0px dashed #999999;"><a href="#">新鲜时蔬</a></p>
                    </div>

                </div>
                <div class="service">
                    <div class="cltop">
                        <p>在线客服</p>
                    </div>
                    <div class="sercon">
                       <div class="qqs">
                           <p><a hidefocus="true" href="#">
                               <span class="serOnline-img0 qqImg0">&nbsp;</span>蜜桃
                           </a>
                           </p>
                           <P><a hidefocus="true" href="#">
                               <span class="serOnline-img0 qqImg0">&nbsp;</span>芒果
                           </a>
                           </P>
                       </div>
                        <div class="tims">
                            <div class="marBL-10">
                                <span class="worktime-header-img">&nbsp;</span>
                                <span class="serWorkTimeText"><b>工作时间</b></span>
                            </div>
                            <div class="serOnline-list-v "><span>周一至周五 ：8:30-17:30</span></div>
                            <div class="serOnline-list-v lastData"><span>周六至周日 ：9:00-17:00</span></div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="rec-right">
            
               <div class="bd">
               <?php foreach ($data as $k => $v): ?>
                    <div class="rec-cot">
                        <div class="rgl-cont">
                            <p></p>
                            <span><?=$v['time']?></span>
                        </div>
                        <a href="javascript:;?id=<?=$v['id']?>">
                        <div class="rgr-cont">
                            <h3><?=$v['title']?></h3>
                            <p><?=$v['content']?></p>
                        </div>
                        </a>
                    </div>
                     <?php endforeach ?>
                      <div class="hd">
                    {$page}
                </div>
               </div>
            </div>


        </div>
    </div>

    <!--最新资讯结束-->
</div>
<!--底部-->
{include file="../application/index/view/layout/bottom.html"}
</body>
<script src="js/consult.js"></script>
</html>