<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="http://www.fristpj.com">
    <title>果然新鲜</title>
    <link href="/index/css/orange.css"rel="stylesheet">
    <link href="/index/css/share.css"rel="stylesheet">
    <script src="/index/js/jquery-1.12.3.js"></script>
    </script><script type="text/javascript" src="/index/js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
<!--顶部导航-->
{include file="../application/index/view/layout/header.html"}
<!--顶部导航结束-->
<!--banner图片-->
<div class="her-banner">

</div>
<!--banner图片结束-->
<!--主页内容-->
<div class="content">
    <div class="cont-top">
        <div class="cont-left">
            <div class="ctl-img">
                <img src="{$result.goods_img}">
            </div>
            <div class="collect">
                <div class="coll">
                    <i class="iconfont">&#xe641;</i>
                    收藏
                </div>
                <div class="coll">
                    <i class="iconfont">&#xe617;</i>
                    分享
                    <div class="share">

                    </div>
                </div>
            </div>
            <div class="next">
                <div class="nt">
                    上一个
                </div>
                <div class="nt ntp">
                    下一个
                </div>
            </div>


        </div>
        <div class="cont-right">
            <div class="J_productTitle title g_minor">
                <span>{$result.goods_name}</span>
                <span id="productQrCode" class="webSiteQrCode">&nbsp;
                <div class="code">
                    <img src="/index/images/qrCode%20(1).gif">
                    <p>扫描二微码</p>
                </div>
                </span>
            </div>
           <div class="pic">
               <span class="ppi">价格:</span>
               <span class="f-mallUnit">￥</span>
               <span class="pcc">{$result.goods_price}</span>
           </div>
            <div class="pict">
                <div class="f-proSatifySumWrap">
                    <div class="f-satifyDetail">
                        <span class="g_minor  salesVolume">评论：</span><span class="J_commNum">1</span>条
                    </div>
                    <div class="J_pdDetailBorder f-pdDetailBorder"></div>
                    <div class="f-satifyDetail">
                        <span class="g_minor  salesVolume">收藏：</span>1
                    </div>
                </div>
            </div>

            <div class="fk-pd5MallCartCount">
                <div class="f-cartbuyCountWrap">
                    <span class="f-propName g_minor" style="width:75px;min-width:75px;max-width: 75px;">购买数量：</span>
                    <input type="text"  value="1" class="g_itext cartBuyCount f-cartBuyCount">
                </div>
                <div class="f-buyCountBtn">
                    <div  class="f-countBtn mallJian"></div>
                    <div  class="f-countBtn disableMallJian"></div>
                </div>
            </div>
            <div class="fk-pd5MallActBtns">
                <div class="buttn" id="gwc" name="{$result.goods_img}">
                    加入购物车
                </div>
                <div class="buttn butto" id="buy">
                    立即购买
                </div>

            </div>

        </div>
    </div>

    <div class="cont-bot">
        <div class="hd">
            <ul>
                <li class="active">
                    <div class="hd1 acti" >
                    </div>
                    产品详情
                </li>
                <li>
                    <div class="hd1">
                    </div>
                    产品评论(1)
                </li>
                <li>
                    <div class="hd1">
                    </div>
                    销售记录(0)
                </li>
            </ul>

        </div>
        <div class="bd">
            <div class="bd1"style="display: block">
                {volist name="imgs" id="v"}
                    <img src="{$v}">
                {/volist}
                 <!-- <img src="/index/images/or-1.png"> -->
            </div>
            <div class="bd1">
                <img src="/index/images/or-5.jpg">
                <img src="/index/images/or-6.jpg">
            </div>
            <div class="bd1">
                <div class="sale">
                    <ul>
                        <li>买家</li>
                        <li>选项​​信息</li>
                        <li>数量</li>
                        <li>成交时间</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
<!--主页内容结束
<!--底部-->
{include file="../application/index/view/layout/bottom.html"}
<!--底部结束-->
</body>
<script src="/index/js/orange.js"></script>
<script>
    $(document).on('click','.buttn',function(){
        // var id = ;
        $.ajax({
            url:"{:url('index/index/userStatus')}",
            dataType:'json',
            success:function(result){
                if (result) {
                    self.location='index/index/gwc'; 
                } else {
                    self.location='index/login/login'; 
                }
            }
        })
    })
</script>
</html>