<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <base href="http://www.fristpj.com">
    <title>全部产品</title>
    <link href="/index/css/produ.css"rel="stylesheet">
    <link href="/index/css/share.css"rel="stylesheet">
    <script src="/index/js/jquery-1.12.3.js"></script>
</head>
<body>
<!--顶部导航-->
{include file="../application/index/view/layout/header.html"}
<!--顶部导航结束-->
<!--banner图片-->
<div class="her-banner">

</div>
<!--banner图片结束-->
<div class="content">
    <!--产品推荐开始-->
    <div class="recommand clear">
        <div class="rec-cont clear">
            <div class="rec-left">
                <div class="classily">
                    <div class="cltop">
                        <p>产品分类</p>
                    </div>
                    <div class="cltcon">
                        <p><a href="#">国产水果</a> </p>
                        <p><a href="#"> 进口水果</a></p>
                        <p style="border-bottom:0px dashed #999999;"><a href="#">新鲜时蔬</a></p>
                    </div>

                </div>
                <div class="service">
                    <div class="cltop">
                        <p>在线客服</p>
                    </div>
                    <div class="sercon">
                       <div class="qqs">
                           <p><a hidefocus="true" href="#">
                               <span class="serOnline-img0 qqImg0">&nbsp;</span>蜜桃
                           </a>
                           </p>
                           <P><a hidefocus="true" href="#">
                               <span class="serOnline-img0 qqImg0">&nbsp;</span>芒果
                           </a>
                           </P>
                       </div>
                        <div class="tims">
                            <div class="marBL-10">
                                <span class="worktime-header-img">&nbsp;</span>
                                <span class="serWorkTimeText"><b>工作时间</b></span>
                            </div>
                            <div class="serOnline-list-v "><span>周一至周五 ：8:30-17:30</span></div>
                            <div class="serOnline-list-v lastData"><span>周六至周日 ：9:00-17:00</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rec-right">
                <div class="bd">
                <?php foreach ($data as $key => $value): ?>
                    <div class="bd1"  style="display: block; margin-button: -60px; margin-top: 10px;">
                        <div class="rcr">
                            <div class="rcr-bot">
                                <div style="width: 100px; height: 100px;">
                                    <a href="{:url('index/index/orange')}?id=<?=$value['goods_id']?>"><img src="<?=$value['goods_img']?>" style="margin-left:65px"  width="100" alt=""></a>
                                </div>
                                <div class="rb-top">
                                   <?=$value['goods_name']?>
                                </div>
                                <div class="second_P">
                                    <span class="fk-prop">￥</span>
                                        <span class="fk-prop-price"><?=$value['goods_price']?>
                                            <span class="fk-prop-p">.00</span>
                                        </span>
                                    <span class="second_Marketprice">￥0.00</span>
                                </div>
                                <div class="buy">
                                    <a class="second_mallBuy" href="{:url('index/index/orange')}?id=<?=$value['goods_id']?>">
                                        <span style="color: white;">购买</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        </div>
                    <?php endforeach ?>
                    </div>
                    <div class="hd" style="margin-left: 260px; margin-top: -20px;">
                        <ul>
                            <li>{$page}</li>

                        </ul>

                </div>
            </div>
        </div>
    </div>

    <!--产品推荐结束-->
</div>
<!--底部-->
<div class="footer">
    <div class="ft-con">
        <div class="ft-top">
            <img src="/index/images/fot-1.jpg">
        </div>
        <div class="ft-bo">
            <div class="ft-b">
                <h3>服务保障</h3>
                <p>正品保证</p>
                <p>7天无理由退换</p>
                <p>退货返运费</p>
                <p>7X15小时客户服务</p>

            </div>
            <div class="ft-b">
                <h3>支付方式</h3>
                <p>公司转账</p>
                <p>货到付款</p>
                <p>在线支付</p>
                <p>分期付款</p>

            </div>
            <div class="ft-b">
                <h3>商家服务</h3>
                <p>商家入驻</p>
                <p>培训中心</p>
                <p>广告服务</p>
                <p>服务市场</p>

            </div>
            <div class="ft-b">
                <h3>服务保障</h3>
                <p>免运费</p>
                <p>海外配送</p>
                <p>EMS</p>
                <p>211限时达</p>

            </div>

        </div>
        <div class="banq">
            <p>©2016 果然新鲜 版权所有</p>
            <p>手机版 | 本站使用<span><img src="images/ft.jpg"></span>凡科建站搭建 | 管理登录</p>
        </div>

    </div>
</div>
</body>
<script src="js/produ.js"></script>
</html>